
<div class="float-left">
    <table mat-table>
        <tbody>
            <tr>
                <td style="width: 75px;"><a href="{{item.exchangeUrl}}" target="_blank">{{item.symbol}}</a></td>
                <td style="width: 75px;">{{item.exchange}}</td>
                <td style="width: 35px;">{{item.size}}</td>
                <td><strong>Open</strong></td>
                <td>{{item.open}}</td>
                <td><strong>High</strong></td>
                <td>{{item.high}}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <strong>Diff</strong>
                    &nbsp;
                    <span style="font-weight: 600;" [style.color]="item.diff.indexOf('-') === 0 ? 'red' : 'green'">
                        {{item.diff}}
                    </span>
                </td>
                <td><strong>Close</strong></td>
                <td>{{item.close}}</td>
                <td><strong>Low</strong></td>
                <td>{{item.low}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="float-left icon-box">
    <i *ngIf="isHot()"
        class="fas fa-fire-alt fa-2x watcher icon-pad" 
        title="Hot One!"></i>
    <i class="fa fa-link fa-2x link icon-pad"
       title="Copy link to {{item.symbol}} details"
       [copy-clipboard]="item.callbackUrl" 
       (copied)="copySuccess($event)"></i>
    <a href="https://twitter.com/share?url={{item.callbackUrl}}&text=Check out the Volume over Average details for {{item.symbol}}!" 
       title="Share Volume over Average for {{item.symbol}} on Twitter!"
       target="_blank">
        <i class="fab fa-twitter fa-2x twitter-link icon-pad"></i>
    </a>
</div>
<div class="clear"></div>
<div class="chart-wrapper">
    <h5>1 Day Candles <span style="font-size: smaller;">{{dailyVal}} average</span></h5>
    <canvas baseChart
    [datasets]="chartData1d"
    [options]="chartOptions"
    [chartType]="type"></canvas>
</div>
<div class="chart-wrapper">
    <h5>3 Day Candles <span style="font-size: smaller;">({{item.stickLen[1]}} candles)</span></h5>
    <canvas baseChart
    [datasets]="chartData3d"
    [options]="chartOptions"
    [chartType]="type"></canvas>
</div>
<div class="chart-wrapper">
    <h5>1 Week Candles <span style="font-size: smaller;">({{item.stickLen[2]}} candles)</span></h5>
    <canvas baseChart
    [datasets]="chartData1w"
    [options]="chartOptions"
    [chartType]="type"></canvas>
</div>

