canvas {
    width: 600px !important;
    height: 50px !important;
}

h5 {
    margin-block-end: 0em;
}

.chart-wrapper {
    border-bottom: 2px solid #4e544a;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.link, .twitter-link {
    cursor: pointer;
    padding-left: 20px;
}

.link {
    color: blue;
}

.twitter-link {
    color: #55acee;
}