<div>
    <strong>Red candles are over the average candle for the specified timeframe</strong>
</div>
<div>
    <mat-label>Daily Candle Average</mat-label>
    <mat-form-field>
        <mat-select style="text-align: center;" [(ngModel)]="selectedDaily" (selectionChange)="onDailySelect($event)">
            <mat-option *ngFor="let d of dailies" [value]="d">
                {{d}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-label>Accumulation Indicators</mat-label>
    <mat-form-field>
        <mat-select style="text-align: center;" [(ngModel)]="selectedIndicator" (selectionChange)="onIndicatorSelect($event)">
            <mat-option *ngFor="let i of indicators" [value]="i">
                {{i}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-label>Show BTC Pairs</mat-label>&nbsp;
    <mat-checkbox [(ngModel)]="useBtc" (ngModelChange)="onBtcChange($event)"></mat-checkbox>
    &nbsp;&nbsp;
    <mat-label>Show USDT Pairs</mat-label>&nbsp;
    <mat-checkbox [(ngModel)]="useUsdt" (ngModelChange)="onUsdtChange($event)"></mat-checkbox>
    &nbsp;&nbsp;
    <mat-label>Show Hot Ones!</mat-label>&nbsp;
    <mat-checkbox [(ngModel)]="hotOnes" (ngModelChange)="onHotOneChange($event)"></mat-checkbox>
</div>
<table mat-table>
    <thead>
        <tr>
            <th style="width: 75px;">Symbol</th>
            <th style="width: 75px;">Exchange</th>
            <th style="width: 35px;">Interval</th>
            <th style="width: 340px;"></th>
        </tr>
    </thead>
</table>
<div *ngFor="let item of filtered">
    <app-v-o-a-item 
            [item]="item"
            [dailyIdx]="dailyIdx"
            [dailyName]="selectedDaily">
    </app-v-o-a-item>
</div>
<div *ngIf="!allData && !processingItem" class="btn-div">
    <button mat-flat-button color="accent" (click)="getSocketPage()">Get More Records</button>
</div>
<h5 *ngIf="allData">All data received</h5>
<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
