<!-- <app-volumes></app-volumes> -->
<h1>Volume Watcher</h1>
<h4>Actively watching exchanges for increases in volume</h4>
<div>    
    <button mat-flat-button color="accent" (click)="onToggleView($event)">{{viewName}}</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="accent" *ngIf="view !== 3" (click)="onToggleArbitrage($event)">Arbitrage</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="accent" (click)="onOpenDonate()">Donate</button>
</div>
<app-volume-over-average *ngIf="view === 0" [pairs]="pairs"></app-volume-over-average>
<app-volumes *ngIf="view === 1"></app-volumes>
<ng-container *ngIf="view === 2">
    <div>
        <mat-label>Watched Pairs</mat-label>
        <mat-form-field>
            <mat-select style="text-align: center;" [(ngModel)]="selectedPair" (selectionChange)="onPairSelect($event)">
                <mat-option *ngFor="let p of pairs" [value]="p">
                    {{p}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngFor="let item of items">
        <app-v-o-a-item
                [item]="item"
                [dailyIdx]="dailyIdx"
                [dailyName]="selectedDaily">
        </app-v-o-a-item>
    </div>
</ng-container>
<app-arbitrage *ngIf="view === 3"></app-arbitrage>
<h4 *ngIf="noResult">No Volume Over Average found for {{symbol}}</h4>