<table mat-table>
    <tbody>
        <tr>
            <td style="width: 75px;"><a href="{{item.url}}" target="_blank">{{item.symbol}}</a></td>
            <td style="width: 75px;">{{item.exchange}}</td>
            <td style="width: 35px;">{{item.size}}</td>
            <td><strong>Open</strong></td>
            <td>{{item.open}}</td>
            <td><strong>High</strong></td>
            <td>{{item.high}}</td>
        </tr>
        <tr>
            <td colspan="3">
                <strong>Diff</strong>
                &nbsp;
                <span style="font-weight: 600;" [style.color]="item.diff.indexOf('-') === 0 ? 'red' : 'green'">
                    {{item.diff}}
                </span>
            </td>
            <td><strong>Close</strong></td>
            <td>{{item.close}}</td>
            <td><strong>Low</strong></td>
            <td>{{item.low}}</td>
        </tr>
    </tbody>
</table>
<div class="chart-wrapper">
    <canvas baseChart
    [datasets]="chartData"
    [options]="chartOptions"
    [chartType]="type"></canvas>
</div>

